.itemReview {
  position: relative;
  border: 1px solid #f1f1f1;
  border-radius: 27px;
  padding: 0px 16px 40px 16px;
  height: 232px;
  background: #fdfdfd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.itemReview h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1d1e21;
  margin: 20px 0 16px 0;
}
.itemReview p {
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #93939a;
  margin: 0;
}
.img {
  width: 64px;
  height: 64px;
  margin-top: -32px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .img {
    width: 72px;
    height: 72px;
    margin-top: -36px;
  }
}
