.form {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .form {
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
