.burger {
  position: fixed;
  top: -28px;
  right: -298px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 56%;
  max-width: 210px;
  height: 94vh;
  background: #59b17a;
  transition: transform 0.3s linear;
  padding: 20px 38px 40px 38px;
}

.active {
  top: 0;
  right: 0;
  z-index: 333;
}

.btnClose {
  position: absolute;
  top: 31px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.btnClose:hover {
  opacity: 1;
}
.wrapNavPageHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
@media (min-width: 1440px) {
  .burger {
    display: none;
  }
}
