.wrapHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px;
}

.link {
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  opacity: 1;
}

.wrapNav {
  display: none;
}

.burgerBtn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burgerBtn:hover {
  opacity: 1;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .wrapHeader {
    width: 335px;
  }
}

@media (min-width: 1440px) {
  .burgerBtn {
    display: none;
  }
}
