.navLink {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 100%;
  color: #93939a;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 24px;
  padding: 8px 12px;
  border: 8px solid #fff;
}

.navLink:global(.active) {
  background: #59b17a;
}

.navLink:hover {
  background: #59b17a;
}
.navLink:not(:last-child)::after {
  content: '';
  width: 8px;
  height: 15px;
  background: #fff;
  transform: rotate(90deg);
  top: 166%;
  right: 46%;
  position: relative;
}

@media (min-width: 1440px) {
  /* .navList {
    flex-direction: row;
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    height: 36px;
    align-items: center;
    background: transparent;
    background-size: 304px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/svg/UnionMenu.svg');
  } */
  /* .navLink:hover {
    width: 50px;
    height: 24px;
  } */
}
