.navLink {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 100%;
  color: #93939a;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 24px;
  padding: 8px 12px;
  border: 8px solid #fff;
}

.navLink:global(.active) {
  background: #59b17a;
}

.navLink:hover {
  background: #59b17a;
}
.navLink:not(:last-child)::after {
  content: '';
  width: 8px;
  height: 15px;
  background: #fff;
  transform: rotate(90deg);
  top: 166%;
  right: 46%;
  position: relative;
}

@media (min-width: 1440px) {
  .navLink:not(:last-child)::after {
    background: #fff;
    transform: rotate(0deg);
  }
  .navLink:first-child::after {
    left: 55%;
  }
  .navLink:nth-child(2)::after {
    left: 25%;
  }
}
