.container {
  background: #f7f8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
