.container {
    background: #f7f8fa;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid red;
    overflow: hidden;
  }
  
  @media (min-width: 375px) and (max-width: 767px) {
    .container {
      width: 375px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1440px) {
    .container {
      /* padding: 32px; */
      width: 768px;
    }
  }
  
  /* @media (min-width: 768px) {
    .container {
      padding: 32px;
    }
  } */
  
  @media (min-width: 1440px) {
    .container {
      width: 1440px;
    }
  }
  