.wrapRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: transparent;
  padding: 50px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
  background-image: url(../../assets/svg/whiteRoundPill.svg);
  background-repeat: no-repeat;
  background-position: 240px 0;
  background-size: 95px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 121%;
  color: #1d1e21;
  margin: 0;
  margin-bottom: 20px;
}
.title span {
  color: #59b17a;
}
.link {
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  text-decoration: none;
  cursor: pointer;
  margin-top: 14px;
}
.link:hover {
  color: #1d1e21;
}
.form,
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.btn {
  margin-top: 10px;
}
.elements {
  margin-top: 23px;
  margin-left: 139px;
  margin-right: -20px;
}
.icon {
  height: 168px;
  width: 216px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .wrapRegister {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 168px 122px 0 32px;
    background-position: 460px 80px;
    background-size: 175px;
  }
  .title {
    font-size: 54px;
    line-height: 111%;
    margin-bottom: 54px;
  }
  .form {
    display: flex;
    gap: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 14px;
  }
  .formLogin {
    display: flex;
    gap: 14px;
    flex-direction: column;
    margin-bottom: 14px;
  }
  .btn {
    margin-top: 48px;
    width: 280px;
  }
  .link {
    margin-top: 0;
    margin-left: 70px;
  }
  .icon {
    height: 271px;
    width: 277px;
  }
  .elements {
    margin-top: -40px;
    margin-left: 491px;
    margin-right: -32px;
  }
}
