.wrapItem {
  border: 1.15px solid #f1f1f1;
  border-radius: 27px;
  padding: 32px;
  width: 100%;
  background: #e7f1ed;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.wrapItem:hover {
  border: 1.15px solid #caf1e2;
}

.titleStar {
  display: flex;
  align-items: flex-start;
  gap: 37px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: inherit;
  -webkit-box-orient: vertical;
  white-space: normal;
  -moz-box-orient: vertical;
}

.star {
  display: flex;
  align-items: center;
  gap: 6px;
}
.star span {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #1d1e21;
}

.open {
  border-radius: 8px;
  width: 65px;
  height: 34px;
  background: rgba(89, 177, 122, 0.1);
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #59b17a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addresPhone {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 129%;
  color: #93939a;
}
.addresPhone p {
  margin: 0;
}
.decor1,
.decor2,
.decor3 {
  position: absolute;
  border-radius: 20px 0 0 20px;
  width: 166px;
  height: 35px;
  background: rgba(89, 177, 122, 0.08);
  transform: rotate(22deg);
}
.decor1 {
  top: 103px;
  left: 287.34px;
}
.decor2 {
  top: 125.75px;
  left: 225px;
}
.decor3 {
  top: 178.82px;
  left: 238.48px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .wrapItem {
    padding: 40px 24px 66px 40px;
  }
  .titleStar {
    gap: 34px;
  }
  .title {
    font-size: 20px;
  }
  .open {
    width: 71px;
  }
  .addresPhone {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .wrapItem {
    padding: 40px;
  }
  .titleStar {
    gap: 51px;
    justify-content: space-between;
  }
  .title {
    font-size: 20px;
  }
  .open {
    width: 65px;
  }
}
