.wrapItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 20px;
}
.wrapItem:not(:last-child) {
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.img {
  border: 1.15px solid #f1f1f1;
  border-radius: 27px;
  padding: 14px 18px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.wrapText {
  display: flex;
  flex-direction: column;
}

.wrapText h4 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #1d1e21;
  margin-bottom: 8px;
}

.text {
  margin: 0;
  font-size: 12px;
  line-height: 117%;
  color: #6a6a6f;
  margin-bottom: 12px;
}

.price {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #1d1e21;
  margin: 0;
  margin-bottom: 18px;
}
.wrapBtn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.wrapCounter {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #1d1e21;
  width: 95px;
  height: 32px;
}

.wrapCounter button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.wrapCounter button:hover {
  border-radius: 40px;
  background-color: rgba(29, 30, 33, 0.1);
}
.btnRemore {
  border-radius: 40px;
  padding: 8px 0;
  width: 89px;
  height: 32px;
  background: rgba(232, 80, 80, 0.1);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #e85050;
  border: none;
  cursor: pointer;
}

.btnRemore:hover {
  color: #fff;
  background: #e85050;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .wrapTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
  }
  .title {
    display: flex;
    flex-direction: column;
  }
  .wrapText h4 {
    font-size: 18px;
  }
  .text {
    font-size: 14px;
    line-height: 129%;
    color: #6a6a6f;
    margin-bottom: 0;
  }
  .price {
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 0;
  }
  .wrapBtn {
    justify-content: space-between;
    gap: 0;
  }
  .wrapCounter {
    font-size: 16px;
    line-height: 125%;
    width: 108px;
    height: 44px;
  }
}
