.wrapLogo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
}
.img {
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .img {
    width: 44px;
    height: 44px;
  }
  .text {
    font-size: 20px;
  }
  .wrapLogo {
    gap: 14px;
  }
}
